* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: blanchedalmond;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 10px 20px;
}

h1 {
  margin-bottom: 10px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.cell {
  background-color: aquamarine;
  border: 2px solid black;
}

.cell:hover:not(.set) {
  background-color: blueviolet;
  cursor: pointer;
}